<navbar>
    <div>
        <button>
            <span>BURGERICON</span>
        </button>
        <ul>
            <a href="">LOGO</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href="">KUNDVAGN</a>
            <a href="">LOGIN/LOGOUT</a>
        </ul>
    </div>
</navbar>