<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addProduct" method="POST">
        <div>
          <label for="name">Namn</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="description">Beskrivning</label>
          <input type="text" id="description" name="description" required>
        </div>
        <div>
            <label for="imgURL">Bild URL</label>
            <input type="text" id="imgURL" name="imgURL" required>
          </div>
          <div>
            <label for="price">Pris</label>
            <input type="number" step=".01" id="price" name="price" required>
          </div>
          <div>
            <label for="stock">Mängd i lager</label>
            <input type="number" id="stock" name="stock" required>
          </div>
        <button type="submit">Lägg till produkt</button>
      </form>
</body>
</html>