<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

	<%- include('../partials/globalImports.ejs') %> 
    <link rel="stylesheet" href="style/jumbotron.css">
    
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="jumbotron mx-auto d-flex flex-column justify-content-center text-white p-5">
        <h1 class="display-2 ps-5">
            Naturliga ljus
        </h1>
        <p class="display-5 ms-5">
            Doftljus just för dig, lufrenande och snygga.
        </p>
    </div>

    <div class="my-3 mx-3">
        <h1>Populära produkter</h1>
    <div class="row d-flex justify-content-around mx-auto">
        <% for( let i = 0; i < products.length; i++ ) { %>
            <% if (i%1 == 0) { %>
             <div class="w-100 d-block d-md-none"></div>
            <% } %>
            <% if (i%4 == 0) { %>
             <div class="w-100 d-none d-md-block"></div>
            <% } %>
        <!--Card-->
        <div class="card col-8 col-md-2 shadow pl-0 pr-0 info-card text-center">
            <!--Card img-->
            <img src="./img/nedladdning.jpg" class="card-img-top w-75 mx-auto mt-2 bg-primary">
            <!--Card body-->
            <div class="card-body">
                <p class="card-title font-weight-bold"><%= products[i].name %> </p>
                <p class="card-text lh-lg">
                    <%= products[i].description %> 
                </p>
                <a href="#" class="btn btn-danger d-block d-md-none stretched-link">Köp produkten</a>
                <table class="col-10 mx-auto d-none d-md-block">
                    <tbody>
                        <tr class="d-flex">
                            <td class="flex-fill">
                                <a class="btn btn-danger material-icons flex-fill ms-auto"
                                    onclick="amountOf(-1, this)">remove</a>
                            </td>
                            <td class="flex-fill d-flex flex-column align-items-center justify-content-center">
                                1
                            </td>
                            <td class="flex-fill">
                                <a class="btn btn-success material-icons flex-fill me-auto"
                                    onclick="amountOf(1, this)">add</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="flex-fill">
                                <a class="btn btn-outline-dark flex-fill me-auto">
                                    Lägg i kundvagnen
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <% } %>
    </div>
    </div>
    
</body>
<script>
    function amountOf(input, element) {
        amount = element.parentElement.parentElement.children[1]
        if (parseInt(amount.innerHTML) == null || parseInt(amount.innerHTML) <= 0 && input == -1) return null
        if (parseInt(amount.innerHTML) == null) return null //TODO, will check stock cap
        amount.innerHTML = parseInt(amount.innerHTML) + input
    }
</script>

</html>