<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

	<%- include('../partials/globalImports.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
        <div class="row">
            <div class="container">tjo</div>
            <div class="w-100"></div>
            <div class="container">bre</div>
        </div>
    </div>
</body>
</html>